*{
    box-sizing: border-box;
    font-family: 'Satoshi medium', sans-serif;
}

:root {
    --selection-bg: #ef9d71;
    --dark: #121212;
    --cyan: #aedee0;
    --salmon: #ef9d71;
    --light: #ffffff;
    --yellow: #f5f19c;
    --text-dark: #000000;
    --text-light: #ffffff;
}

*::selection {
    background-color: var(--selection-bg);
    color: var(--text-light);
}

body[theme="dark"] {
    background-color: var(--dark);
    color: var(--text-light);
}

body[theme="cyan"] {
    background-color: var(--cyan);
    color: var(--text-dark);
}

body[theme="salmon"] {
    background-color: var(--salmon);
    color: var(--text-dark);
}

body[theme="light"] {
    background-color: var(--light);
    color: var(--text-dark);
}

body[theme="yellow"] {
    background-color: var(--yellow);
    color: var(--text-dark);
}

.machina {
    font-family: 'PP Neue Machina Plain Light', sans-serif;
}

input[type="email"]{
    background-color: var(--light);
    padding: 1rem;
    width: 100%;
    color: var(--text-dark);
    outline: none;
}::placeholder {
    color: #1e1e1e;
}

.footer-text h1{
    padding: 0;
    margin: 0;
}

.spaced-underline {
  text-decoration: underline;
  text-underline-offset: 5px; /* Adjust this value for desired spacing */
}

.icons i{
    font-size: 1.3rem;
}

.videodiv{
    clip-path: circle(var(--clip) at center);
}